<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tech2etc Ecommerce Tutorial</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
        
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
    </head> 
    
    <body>
        
        <div id="spark-star" class="index">
            <div class="main-body">
                <div class="scroller">
                    <div class="scroller-inner">
                        <header class="main-header">
                            <div class="container">
                                <div class="row row-flex header_pc hidden-sm hidden-xs">
                                    <div class="col-md-4 col-md-offset-4 col-sm-4 col-xs-5">
                                        <div class="main-header--logo">
                                            <a href="{% url 'core:index' %}"><h1 class="logo">Spark Stars store</h1></a>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-7">
                                        <div class="main-header--action row-flex">
                                            {% if request.user.is_authenticated %}
                                            <div><a href="{% url 'account:address' %}">
                                                <i class="fa-solid fa-person fa-xl"></i>
                                                <span>Hi,{{request.user.username}}</span>
                                            </a>
                                                
                                            </div>
                                            {% else %}
                                            <div class="action-acc">
                                                <a href="{% url 'core:login' %}">
                                                    <i class="fa-solid fa-person fa-xl"></i>
                                                    <span class="text">Tài khoản</span>    
                                                </a>
                                                
                                            </div>
                                            {% endif %}
                                            <div class="action-cart"><a href="{% url 'account:cart' %}"><i class="fa-solid fa-cart-shopping fa-xl"></i></a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row hidden-sm hidden-xs header-menu">
                                    <div class="container">
                                    <div class="col-xs-12 main-header--menu">
                                        <nav class="desk-menu">
                                            <ul>
                                                <li class="childrent-1">
                                                    <a href="#" title="ƯU ĐÃI HIỆN TẠI">ƯU ĐÃI HIỆN TẠI</a>
                                                </li>
                                                <li class="menu-childrent-1 ">
                                                    <a href="">ƯU ĐÃI THEO BRAND
                                                        <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                                    </a>
                                                    
                                                    <ul class="sub-menu">
                                                        <div class="slider-left hidden-xs hidden-sm pd-r">
                                                            <div class="slider-left hidden-xs hidden-sm pd-r">
                                                                <div id="box-vertical-megamenus" class="clearfix">
                                                                    <div class="box-vertical-megamenus">
                                                                        <div class="vertical-menu-content is-home" id="list-category-header">
                                                                            <ul class="vertical-menu-list">
                                                                                <li class="menu-item" ><a href="" class="parent">FORMAT 08.2023</a></li>
                                                                                <li class="menu-item" ><a href="" class="parent">FORMAT 08.2023</a></li>
                                                                                <li class="menu-item" ><a href="" class="parent">FORMAT 08.2023</a></li>
                                                                                <li class="menu-item" ><a href="" class="parent">FORMAT 08.2023</a></li>
                                                                                <li class="menu-item" ><a href="" class="parent">FORMAT 08.2023</a></li>
                                                                                <li class="menu-item" ><a href="" class="parent">FORMAT 08.2023</a></li>
                                                                                <li class="menu-item" ><a href="" class="parent">FORMAT 08.2023</a></li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </ul> 
                                                </li>
                                                <li class="menu-children-1">
                                                    <a href="" title="blog">Blog
                                                        <i class="fa fa-chevron-down" aria-hidden="true">
                                                        </i>

                                                    </a>
                                                    <ul class="sub-menu"><div class="slider-left hidden-xs hidden-sm pd-r">
                                                        <div id="box-vertical-megamenus" class="clearfix">
                                                            <div class="box-vertical-megamenus">
                                                                <div class="vertical-menu-content is-home">
                                                                    <ul class="vertical-menu-list">
                                                                        <li class="menu-item"><a href="" class="parent">BEATY</a></li>
                                                                        <li class="menu-item"><a href="" class="parent">LIFESTYPE</a></li>
                                                                        <li class="menu-item"><a href="" class="parent">TRAVEL</a></li>
                                                                        <li class="menu-item"><a href="" class="parent">NEWS</a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div></ul>
                                                    
                                                </li>
                                                <li class="menu-children-1">
                                                    <div class="social-list">
                                                        
                                                        <a href="" target="_blank" ><i class="fa fa-facebook-f  fa-xl "></i></a>
                                                        <a href="" target="_blank" ><i class="fa fab fa-youtube fa-xl"></i></a>
                                                        <a href="" target="_blank" ><i class="fa fab fa-linkedin  fa-xl "></i></a>
                                                    </div>
                                                </li>
                                            </ul>
                                            <div class="search-menu">
                                                <form action="" class="search-page">
                                                    <input type="text" name="q"
                                                    class="search-box" placeholder="Tim kiem">
                                                    <input type="submit" value="" alt="Go" id="go">
                                                </form>
                                            </div>
                                        </nav>
                                        
                                    </div> 
                                    </div>
                                </div>

                            </div>
                        </header>
                    </div>
                </div>
            </div>
    </div>
    <section>

   
    {% block content %}
    
    {% endblock %}
    </section>
    <footer id="footer_html">
        <div class="main-footer--bottom">
            <div class="col" >
            
                <h4>THÔNG TIN DOANH NGHIỆP</h4>
                <p>Công ty cổ phần thương mại dịch vụ SPARK STARS</p>
                <P>Địa chỉ doanh nghiệp: 32 Hao Nam, Dong Da, Ha Noi City<br> & Tan Binh District Ho Chi Minh City</P>
                <p>Tel: (+84) 824677555  </p>
                <p>Mã số thuế: 0108985169</p><p>Mail: cskh@sparkstarsgroup.com</p>
                            
            </div>
            <div class="col " id="col_2">
                <h4>QUY ĐỊNH & CHÍNH SÁCH</h4>
                <a href="#"><p> Quy trình</p></a>
                <a href=""><p>Báo giá</p></a>
            <a href ="https://sparkstarsgroup.com/phuong-thuc-thanh-toan/"> <p>Thanh toán</p></a>
            </div>	
            <div class="col">
                <h4>THÔNG TIN DỊCH VỤ</h4>
                        
                <p>Quay dựng TVC và video các nền tảng </p>
                <p>Kịch bản</p>
                            <p>Edit video 2D/3D</p>
                            <div class="icon_social">
                <a href="https://www.facebook.com/sparkstarsproduction"><i class="fa fa-facebook-official"></i></a>
                <a href="https://www.facebook.com/messages/t/108534327287937"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                <a href ="https://www.linkedin.com/company/spark-stars-trading-service-join-stock-company/"><i class="fa-brands fa-linkedin"></i></a>
                    </div>
            </div>
        </div>
        <div class="main-footer--copyright">
            <div class="container">
                <p>Copyright © 2023 
                    <a href="">Spark Star</a>
                </p>
            </div>
        </div>
        
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>
    
    <script src="{% static 'js/own.carousel.min.js'%}"></script>
    <script src="{% static 'js/myscript.js'%}"></script>
    <script src="{% static 'js/script.js' %}"></script>
    
</body>
</html>
